@font-face {
  font-family: "open sans";
  src: url("OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
}

:root {
  --gray: rgb(70, 70, 70);
  --textcolor: #303030;
  font-family: "open sans", sans-serif;
}

body {
  background: bisque;
  width: 75%;
  max-width: 80ch;
  margin: auto;
}

h1 {
  font-weight: 800;
}

svg {
  background: white;
  border: 1pt solid gray;
}

#file_drop {
  text-align: center;
  padding: 3ch;
  background: lightgrey;
}

#file_drop.active {
  background: orange;
}

.goban_border {
  stroke: black;
  fill: none;
  stroke-width: 1;
}

.goban_lines {
  stroke: var(--gray);
  fill: none;
  stroke-width: 0.5;
}

.hoshi {
  stroke: none;
  fill: var(--gray);
}

.stone {
  stroke: black;
  stroke-width: 0.5;
}

.black.stone {
  fill: black;
}

.white.stone {
  fill: white;
}

.move_n {
  font-size: 4pt;
  text-anchor: middle;
  font-stretch: 85%;
  font-weight: 500;
}

.move_n.black {
  fill: white;
}

.move_n.white {
  fill: black;
}
