/* @font-face {
  font-family: "open sans";
  src: url("OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
} */

@font-face {
  font-family: "open sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  font-stretch: 75% 100%;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wdth-normal.woff2)
    format("woff2-variations");
}

:root {
  --pal4: #1f070e;
  --pal3: #6d3c4a;
  --pal2: #af6b7f;
  --pal1: #eccbd4;
  --pal0: #ffeaea;
  --gray: rgb(70, 70, 70);
  font-family: "open sans", sans-serif;
}

body {
  background: var(--pal0);
  width: 75%;
  max-width: 80ch;
  margin: auto;
  color: var(--pal4);
  font-size: 12pt;
}

h1 {
  font-weight: 800;
  color: var(--pal3);
}

svg {
  background: white;
  border: 1pt solid var(--pal2);
}

label {
  color: inherit;
  text-decoration: underline;
}

label:hover {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: underline;
  border: none;
  background-color: inherit;
  font-size: inherit;
}

a:hover {
  font-weight: 600;
}

#file_drop {
  text-align: center;
  padding: 3ch;
  background: var(--pal0);
  border: 2pt dashed var(--pal2);
  border-radius: 2ch;
}

#file_drop.active {
  background: var(--pal1);
  border: 2pt solid var(--pal3);
}

/* Stuff for the print version */

#foglio_stampa {
  background: white;
  color: black;
}

#foglio_stampa svg {
  border: none;
}

/* Stuff for the kifu svg */

.goban_border {
  stroke: black;
  fill: none;
  stroke-width: 1;
}

.goban_lines {
  stroke: var(--gray);
  fill: none;
  stroke-width: 0.5;
}

.hoshi {
  stroke: none;
  fill: var(--gray);
}

.stone {
  stroke: black;
  stroke-width: 0.5;
}

.black.stone {
  fill: black;
}

.white.stone {
  fill: white;
}

.move_n {
  font-size: 4pt;
  text-anchor: middle;
  font-stretch: 85%;
  font-weight: 500;
}

.move_n.black {
  fill: white;
}

.move_n.white {
  fill: black;
}
